{%load static%}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Safher - Women Safety</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
  <script src="{% static 'core/js/main.js' %}" defer></script>
</head>
<body>
  <nav class="nav">
    <div class="nav-left">
      <a href="/" class="brand">
        <img src="{% static 'core/images/logo.png' %}" alt="logo" class="logo">
        <span>Safeher</span>
      </a>
    </div>
    <div class="nav-right">
      <a href="/">Home</a>
      <a href="/register/">Register</a>
      <a href="/send_alert/">Send Alert</a>
      <a href="/history/">History</a>
      <a href="/about/">About</a>
    </div>
  </nav>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  
</body>
</html>
